body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7091E6;
    
    
}
h1{
    font-size: 60px;
}

input, select{
    border-radius: 10px;
    border: none;
    margin: 20px;
    width: 250px;
    height: 50px;
}
button{
    border: none black;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: rgb(245, 108, 16);
    
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
p{
    font-size: 40px;
}
span{
    color: #EDE8F5;
}