body{
    text-align: center;
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
}

input[type = "number"],
select{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
}
button{
    background-color: orange;
    width: 100px;
    border-radius: 20px;
    height: 50px;
    font-size: 20px;
}
button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
h5{
    font-size: 20px;
    color: palevioletred;
    margin: 20px 0;
}