*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#button{
    border: none;
    border-radius: 50px ;
    cursor:pointer ;
    width: 20%;
    height: 50px;
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    font-weight: bolder;
    transition: background-color 0.3s;
    margin: 10px;
    position: relative;
    left: 40%;
    
}
#button:hover{
    background-color: white;
    color: black;
}
h1{
    text-align: center;
    border-style: double;
    background-color: rgb(224, 180, 35);
    border-radius: 20px;

}
#mycolor{
    text-align: center;
    font-weight: 600;
}